
@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf');
}

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	color: #FFF;
  background-color: #596D48;
  border-radius: 8px;
  padding: 10px 32px;
	transition: transform 80ms ease-in;
  width: 160px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: left;
	justify-content: left;
	flex-direction: column;
	padding: 0 16px;
	text-align: left;
}

form label {
  text-transform: uppercase;
  font-size: 10px;
}

input {
	background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
	padding: 8px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	left: 50%;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form-container p {
  margin: 24px 16px;
  font-size: 12px;
}

.form__container {
  display: flex;
}

.column-first {
  flex-basis: 50%;
  max-width: 50%;
  margin-left: 0;
}

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
  margin-left: 10px;
}

.container__overlay {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.overlay {
	background-color: var(--lightblue);
	background: url("./images/intricate-explorer-Xfdi4BSut_Q-unsplash.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.skrim {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 0;
    z-index: 100;
    height: 80px;
    width: 384px;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.skrim h1 {
  color: #FFF;
  font-family: 'Norse-Bold';
  font-size: 32px;

}

.skrim img {
    position: relative;

}